<div class="col-xs-12 breakStart">
</div>
<h2>Type in an awesome TV show</h2>
<div class="input-group twentyPx">
  <input type="text" class="form-control" placeholder="Search for...">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button">Go!</button>
  </span>
</div><!-- /input-group -->
