<div class="col-xs-12 breakStart">
</div>
<h2>Type in an awesome TV show</h2>
<div class="input-group twentyPx">
  <input type="text" class="form-control" placeholder="Search for...">
  <span class="input-group-btn">
    
  <%= link_to "Go!", sessions_dash_path, type: "button", class: "btn btn-default" %>

  </span>
</div><!-- /input-group -->
