<div class="col-xs-12 breakShow">
</div>
<h2>Type in an awesome TV show</h2>
<div class="col-xs-12">
	<div class="col-xs-12">
		<div class="input-group input-group-lg twentyPx">
		  <input type="text" class="form-control" placeholder="Search for...">
		  <span class="input-group-btn">
		    
		  <%= link_to "Go!", sessions_dash_path, type: "button", class: "btn btn-default" %>

		  </span>
		</div><!-- /input-group -->
	</div>
</div>
