<div class="col-xs-12 header">
	<%= image_tag "list.svg", :class => "list" %>
	<h2>Watching</h2>
</div>

<div class="showBox">
	<div class="col-xs-12">
		<div class="showPic">
		</div>
		<h2>The Voice</h2> 
		<h4> <b>Jill Murray</b> "This app is awesome!"</h4>
	</div>
</div>	


<div class="col-xs-12">
	<%= link_to "new show", sessions_pick_a_show_path, :class => "btn btn-primary"  %>
</div>