
<div class="col-xs-12 breakStart">
</div>
<div class="col-xs-12">
	<%= image_tag "logo.svg", :class => "logo" %>
</div>

<h1>Pom de Couch</h1>
<%= link_to "Login with Facebook", sessions_new_path, :id => "login", :class => "btn btn-primary"  %>
