

<div class="col-xs-12">
	<%= image_tag @show.img_link, :class => "showGif"  %>
	<h2><%= @show.title %></h2>
	<h3><%= @show.genre %></h3>
</div>





<script>

var suggest_show_url = '<%= url_for(swipes_suggest_show_path) %>';

</script>
