<div class="col-xs-12 RecTitle">
	<h1>Recording...</h1>
</div>
<div class="col-xs-12 audioWave">
	<%= image_tag "audioWaves.svg", :class => "audioWaveIcn"   %>
</div>
<div class="col-xs-12 save">
	<%= link_to sessions_after_show_path do %>
		<%= image_tag "save.svg", :class => "saveIcn"   %>
	<% end %>
</div>