/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 
@import font-awesome

//Global
h1
	font-family: 'Raleway', sans-serif 
	text-align: center
	font-weight: 500
	font-family: 'Raleway', sans-serif
	font-size: 62px
	color: #754c24


h2
	text-align: center
	font-family: 'Raleway', sans-serif
	font-size: 36px
	font-weight: 400
	color: #754c24

h3
	text-align: left
	font-family: 'Raleway', sans-serif
	font-weight: 500
	color: #754c24
	font-size: 42px
h4
	text-align: right
	font-family: 'Raleway', sans-serif
	font-weight: 400
	color: #a67c52
	font-size: 25px
	& b 
		font-weight: 500

p, a, input
	font-family: 'Raleway', sans-serif
	font-size: 28px



html, body
	background-color: #F2E9D2 
	
	
.chat-window
	margin-top: 20px
	width: 640px
	height: 1280px
	background-color: #ead8aa 

.container

//welcome screen

.logo
	height: 240px
	display: block
	margin: 10% auto
#login
	width: 400px
	height: 80px
	margin: 20px auto
	display: block
	text-align: center
	font-size: 32px
	line-height: 2

.btn-lg
	width: 200px

//Start screen (what do ya want?)

.breakSwipe
	height: 110px

.breakShow
	height: 40%

.breakStart
	height: 240px

.twentyPx
	margin-top: 20px

.showGif
	max-width: 100%

//Swipey Swipe

#showTitle
	padding-top: 10px

.profilePic
	background-color: #ffffff
	height: 113px
	width: 113px
	float: right
	margin: 15px 0 15px 15px

.swipeContainer
	height: 705px
	border: 1px solid #754c24
	padding: 0
	margin-top: 15px
	margin-bottom: 40px

.infoBox
	background-color: #efe8d8
	padding: 0
	box-shadow: 0px 4px 0px #754c24
	height: 145px
	border-top: 2px solid #754c24

.dPad
	width: 328px
	height: 299px
	position: relative
	margin-left: 125px
.play, .watched
	display: block
	margin: 0 auto
	cursor: pointer
.noLike
	cursor: pointer
	float: left
.like
	cursor: pointer
	float: right
.gifBox
	height: 552px


//Recording
.saveIcn
	margin: auto
	display: block

.RecTitle
	margin-top: 140px

.audioWave
	margin-top: 100px

.save
	margin-top: 80px







